<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}


<div class="container h-100" style="padding-top: 20%">

  <div class="row h-100 justify-content-center align-items-center" >
       <h1>Are you sure you want to delete {{object}} from ingredients inventory?   </h1>
    <div class="col-1 ">

      <form method="post">
        {% csrf_token %}

        {{ form }}
        <input type="submit" value="Delete"class="btn btn-danger"> </button>
      </form>


    </div>
  </div>
</div>



{% endblock %}




