<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} Ingredient list {% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
     <h1> Ingredients </h1>
</div>
<div class="table-responsive ">
    <table class="table table-hover mx-auto w-75 ">
        <tr>
            <th> Item </th>
            <th> Price (£) </th>
            <th> Amount </th>
            <th> Delete </th>
            <th> Edit </th>
        </tr>
        {% for item in object_list %}
        <tr>
            <td> {{ item.name }} </td>
            <td> {{ item.price }} </td>
            <td> {{ item.quantity }} </td>
            <td> <a href="{% url 'ingredient-delete' item.slug %}"> <button type="button" class="btn btn-outline-danger">Delete</button> </a> </td>
            <td> <a href="{% url 'ingredient-update' item.slug %}"> <button type="button" class="btn btn-outline-dark">Update</button> </a> </td>

        </tr>

        {% endfor %}
    </table>

</div>
<div class="d-flex justify-content-center"> <a href="{% url 'ingredient-add'%}">  <button type="button" class="btn btn-outline-success">Add</button> </a></div>

{% endblock %}