<!DOCTYPE html>

{% extends 'base.html' %}

    {% block title%} Menu item list{% endblock %}

    {% block content %}
<div class="d-flex justify-content-center">

     <h1> Menu Items </h1>
    </div>
<div class="table-responsive ">
    <table class="table table-hover mx-auto w-75">
        <tr>
            <th> Item </th>
            <th> Price (£) </th>
            <th> Requirements </th>
            <th> Purchase </th>
<!--            <th> Delete </th>-->
<!--            <th> Edit </th>-->
        </tr>
        {% for object in object_list %}
        <tr>
            <td> {{ object.name }} </td>
            <td> {{ object.price }} </td>
            <td><a href="{% url 'view-requirements' name=object.name %}"> <button type="button" class="btn btn-outline-dark">View</button></a></td>

            <td> <a href="{% url 'purchase-item' name=object.name price=object.price %}"> <button type="button" class="btn btn-outline-dark"> Purchase </button></a></td>


        </tr>
        {% endfor %}
    </table>
</div>
<div class="d-flex justify-content-center"> <a href="{% url 'menu-item-add'%}"> <button type="button" class="btn btn-outline-success">Add</button> </a></div>


{% endblock %}